*
!.yarnclean
!yarn.lock
!lerna.json
!package.json

!packages/api/package.json
!packages/api/dist

!packages/dtos/package.json
!packages/dtos/dist

!packages/ui/package.json
!packages/ui/build
!packages/ui/public

!config/.env
!packages/api/.env
!packages/dtos/.env
!packages/ui/.env
